force-app/main/default/flows/Case_Call_Center_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_recordId_0</name>
        <label>Assign recordId</label>
        <locationX>2096</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chat_0.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>E_Commerce</name>
        <choiceText>E-Commerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Commerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heets</name>
        <choiceText>Heets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heets</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hot_Aerosol</name>
        <choiceText>Hot Aerosol</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot Aerosol</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead_Generation</name>
        <choiceText>Lead Generation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Generation</stringValue>
        </value>
    </choices>
    <choices>
        <name>M1</name>
        <choiceText>M1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M1</stringValue>
        </value>
    </choices>
    <choices>
        <name>M11</name>
        <choiceText>M11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M11</stringValue>
        </value>
    </choices>
    <choices>
        <name>Media</name>
        <choiceText>Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>MGM</name>
        <choiceText>MGM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MGM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rental1</name>
        <choiceText>Rental + 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rental + 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rental13</name>
        <choiceText>Rental + 13</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rental + 13</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rental27</name>
        <choiceText>Rental + 27</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rental + 27</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safety</name>
        <choiceText>Safety</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety</stringValue>
        </value>
    </choices>
    <choices>
        <name>SENTIMENT</name>
        <choiceText>Sentiment Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sentiment Management</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_or_Chat_0</name>
        <label>Case or Chat</label>
        <locationX>2360</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Case_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Chat_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chat_0</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Deci_0</name>
        <label>Case Type Deci</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_I_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MGM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MGM_Flow</targetReference>
            </connector>
            <label>MGM</label>
        </rules>
        <rules>
            <name>O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_I_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Heets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Heets_flow</targetReference>
            </connector>
            <label>Heets</label>
        </rules>
        <rules>
            <name>O3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_I_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Media</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Media_flow</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>O4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_I_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hot_Aerosol</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hot_Aerosol_flow</targetReference>
            </connector>
            <label>Hot Aerosol</label>
        </rules>
        <rules>
            <name>O5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_I_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Safety</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Safety_flow</targetReference>
            </connector>
            <label>Safety</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Deci_0_0</name>
        <label>Case Type Deci</label>
        <locationX>2690</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>M1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M1_Flow</targetReference>
            </connector>
            <label>M1</label>
        </rules>
        <rules>
            <name>O2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>M11</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M11_Flow</targetReference>
            </connector>
            <label>M11</label>
        </rules>
        <rules>
            <name>O3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>E_Commerce</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Commerce_Flow</targetReference>
            </connector>
            <label>E-Commerce</label>
        </rules>
        <rules>
            <name>O4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Generation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Generation_flow</targetReference>
            </connector>
            <label>Lead Generation</label>
        </rules>
        <rules>
            <name>O5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rental1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rental_1</targetReference>
            </connector>
            <label>Rental + 1</label>
        </rules>
        <rules>
            <name>O6_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rental13</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rental_13</targetReference>
            </connector>
            <label>Rental + 13</label>
        </rules>
        <rules>
            <name>O7_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rental27</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rental_27</targetReference>
            </connector>
            <label>Rental + 27</label>
        </rules>
        <rules>
            <name>O8_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_O_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SENTIMENT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sentiment_Management_Flow_0</targetReference>
            </connector>
            <label>Sentiment Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Case_0</name>
        <label>Have Case?</label>
        <locationX>2360</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Y_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_0.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId_0</targetReference>
            </connector>
            <label>Y</label>
        </rules>
        <rules>
            <name>N_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_0.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Case_for_Chat_0</targetReference>
            </connector>
            <label>N</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_Outbound</name>
        <label>Inbound/Outbound</label>
        <locationX>2360</locationX>
        <locationY>1070</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inbound_or_Outbound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Deci_0</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inbound_or_Outbound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Outbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Deci_0_0</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <interviewLabel>Case Call Center Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Call Center</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Chat_0</name>
        <label>Get Chat</label>
        <locationX>2360</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>2360</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inbound_Outbound</targetReference>
        </connector>
        <fields>
            <name>Inbound_or_Outbound</name>
            <choiceReferences>Inbound</choiceReferences>
            <choiceReferences>Outbound</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inbound or Outbound</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q1_I_RB</name>
            <choiceReferences>MGM</choiceReferences>
            <choiceReferences>Heets</choiceReferences>
            <choiceReferences>Media</choiceReferences>
            <choiceReferences>Hot_Aerosol</choiceReferences>
            <choiceReferences>Safety</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inbound</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Inbound_or_Outbound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Inbound</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q1_O_RB</name>
            <choiceReferences>M1</choiceReferences>
            <choiceReferences>M11</choiceReferences>
            <choiceReferences>E_Commerce</choiceReferences>
            <choiceReferences>Lead_Generation</choiceReferences>
            <choiceReferences>Rental1</choiceReferences>
            <choiceReferences>Rental13</choiceReferences>
            <choiceReferences>Rental27</choiceReferences>
            <choiceReferences>SENTIMENT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outbound</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Inbound_or_Outbound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Outbound</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Make_Case_for_Chat_0</name>
        <label>Make Case for Chat</label>
        <locationX>2360</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MakeCase_Text_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;해당 채팅에 연결된 사례가 없습니다. 하단의 사례 세부 사항에서 새로운 사례를 생성하시기 바랍니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;(생성 후 완료 버튼을 클릭해주세요.)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_or_Chat_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>E_Commerce_Flow</name>
        <label>E-Commerce</label>
        <locationX>2162</locationX>
        <locationY>1310</locationY>
        <flowName>Case_E_Commerce</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Heets_flow</name>
        <label>Heets</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <flowName>Case_Heets</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Hot_Aerosol_flow</name>
        <label>Hot Aerosol</label>
        <locationX>842</locationX>
        <locationY>1310</locationY>
        <flowName>Hot_Aerosol</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Lead_Generation_flow</name>
        <label>Lead Generation</label>
        <locationX>2426</locationX>
        <locationY>1310</locationY>
        <flowName>Case_Lead_Generation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>M11_Flow</name>
        <label>M11</label>
        <locationX>1898</locationX>
        <locationY>1310</locationY>
        <flowName>Case_M1</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>M11</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>M1_Flow</name>
        <label>M1</label>
        <locationX>1634</locationX>
        <locationY>1310</locationY>
        <flowName>Case_M1</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>M1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Media_flow</name>
        <label>Media</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <flowName>Case_Media</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>MGM_Flow</name>
        <label>MGM Flow</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <flowName>Case_MGM</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rental_1</name>
        <label>Rental + 1</label>
        <locationX>2690</locationX>
        <locationY>1310</locationY>
        <flowName>Rental_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rental_13</name>
        <label>Rental + 13</label>
        <locationX>2954</locationX>
        <locationY>1310</locationY>
        <flowName>Rental_13</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rental_27</name>
        <label>Rental + 27</label>
        <locationX>3218</locationX>
        <locationY>1310</locationY>
        <flowName>Rental_27</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Safety_flow</name>
        <label>Safety</label>
        <locationX>1106</locationX>
        <locationY>1310</locationY>
        <flowName>Case_Safety</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sentiment_Management_Flow_0</name>
        <label>Sentiment Management</label>
        <locationX>3482</locationX>
        <locationY>1310</locationY>
        <flowName>Case_Sentiment_Management</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentChat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
