force-app/main/default/flows/Case_Lead_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Inquiry_Result_Asgmt</name>
        <label>Inquiry Result Asgmt</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_2_Result_Asmgt</name>
        <label>거부 사유</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_2_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_Result_Asgmt</name>
        <label>통화 결과</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_Choice1_Asmgt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_Result_Asgmt1</name>
        <label>적합 여부 결과</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Choice_Asgmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_Result_Asgmt</name>
        <label>부적합 사유</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_Result_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3Q4_Result_Asgmt</name>
        <label>고객 유형 및 브랜드명</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Q1_Choice1</name>
        <choiceText>성공</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>성공</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice2</name>
        <choiceText>거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>거부</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_2_Choice1</name>
        <choiceText>미성년자</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>적합​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_2_Choice2</name>
        <choiceText>비흡연자</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>비흡연자​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Choice1</name>
        <choiceText>적합</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>적합</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Choice2</name>
        <choiceText>부적합</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>부적합</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice1</name>
        <choiceText>CC(타사)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC(타사)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice2</name>
        <choiceText>CC(자사)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC(자사)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice3</name>
        <choiceText>IQOS 듀얼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IQOS 듀얼</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice4</name>
        <choiceText>타사 HnB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>타사 HnB​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice5</name>
        <choiceText>IQOS only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IQOS only​</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_Result</name>
        <label>Decision 1</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_R_Choice1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>성공</label>
        </rules>
        <rules>
            <name>Q1_R_Choice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_2_Result_Asmgt</targetReference>
            </connector>
            <label>거부</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q2_Result</name>
        <label>Decision 2</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q2_R_Choice1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>적합</label>
        </rules>
        <rules>
            <name>Q2_R_Choice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_2</targetReference>
            </connector>
            <label>부적합</label>
        </rules>
    </decisions>
    <formulas>
        <name>InquiryFooter</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_2_Result</name>
        <dataType>String</dataType>
        <expression>&quot;거부 사유 : &quot;&amp;{!Q1_1_Reason}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q1_Choice1_Asmgt</name>
        <dataType>String</dataType>
        <expression>&quot;통화 성공 여부 : &quot;&amp;{!Q1_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_Choice_Asgmt</name>
        <dataType>String</dataType>
        <expression>&quot;적합 여부 : &quot;&amp;{!Q2_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q3_Result</name>
        <dataType>String</dataType>
        <expression>&quot;고객 유형 : &quot;&amp;{!Q3_RB}&amp;{!LineBreak}&amp;
&quot;브랜드명 : &quot;&amp;{!Q4}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q3_Result_Reason</name>
        <dataType>String</dataType>
        <expression>&quot;부적합 사유 : &quot;&amp;{!Q3_2_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!LineBreak}&amp;{!LineBreak}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!LineBreak}&amp;
&quot;Outbound Call : Lead Generation&quot;&amp;{!LineBreak}</expression>
    </formulas>
    <interviewLabel>Case Lead Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Lead Generation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>666</locationX>
        <locationY>1670</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>통화 성공 여부</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <fields>
            <name>Q1_RB</name>
            <choiceReferences>Q1_Choice1</choiceReferences>
            <choiceReferences>Q1_Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 성공 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_1_Reason</name>
            <fieldText>거부사유 작성</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q1_Choice2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2</name>
        <label>적합 여부</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_Result_Asgmt1</targetReference>
        </connector>
        <fields>
            <name>Q2_RB</name>
            <choiceReferences>Q2_Choice1</choiceReferences>
            <choiceReferences>Q2_Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>적합 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_2</name>
        <label>부적절 사유</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3_Result_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q3_2_RB</name>
            <choiceReferences>Q2_2_Choice1</choiceReferences>
            <choiceReferences>Q2_2_Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>부적합 사유</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3Q4_Result_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q3_RB</name>
            <choiceReferences>Q3_Choice1</choiceReferences>
            <choiceReferences>Q3_Choice2</choiceReferences>
            <choiceReferences>Q3_Choice3</choiceReferences>
            <choiceReferences>Q3_Choice4</choiceReferences>
            <choiceReferences>Q3_Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>고객 유형</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q4</name>
            <dataType>String</dataType>
            <fieldText>브랜드명</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
