force-app/main/default/flows/Case_MGM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Q1_1_A1</name>
        <label>발급 방법 문의 결과</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_1_A1_1</name>
        <label>안내사항 결과</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT1_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_1_A1_2</name>
        <label>안내사항 결과</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT1_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_1_A1_3</name>
        <label>안내사항 결과</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT1_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_1_A1_4</name>
        <label>안내사항 결과</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT1_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_1_A2</name>
        <label>쿠폰 적용 불가 문의</label>
        <locationX>1810</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_1_A1_1</name>
        <label>안내사항 결과</label>
        <locationX>1282</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT2_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_1_A1_2</name>
        <label>안내사항 결과</label>
        <locationX>1546</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT2_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_1_A1_3</name>
        <label>안내사항 결과</label>
        <locationX>1810</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT2_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_1_A1_4</name>
        <label>안내사항 결과</label>
        <locationX>2074</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT2_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MGM 추천인 여부 확인 , 추천 받은 고객 구매일 확인</description>
        <name>Q3_1_A0_1</name>
        <label>기프티콘 미 수신</label>
        <locationX>2514</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_1_R2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Info_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MGM 추천인 여부 확인</description>
        <name>Q3_1_A0_2</name>
        <label>기프티콘 미 수신</label>
        <locationX>3306</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_1_R3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Info_3_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1_0</name>
        <label>기프티콘 미 수신</label>
        <locationX>2778</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Info_3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1_0_0</name>
        <label>기프티콘 미 수신</label>
        <locationX>3042</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Info_3_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1_1</name>
        <label>안내사항 결과</label>
        <locationX>2514</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT3_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1_2</name>
        <label>안내사항 결과</label>
        <locationX>2778</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT3_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1_3</name>
        <label>안내사항 결과</label>
        <locationX>3042</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT3_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1_4</name>
        <label>안내사항 결과</label>
        <locationX>3306</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DT3_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry  Result</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInquiryResult</name>
        <label>set Inquiry Result</label>
        <locationX>2162</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inquiry_Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_inquiry_Q1_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A1</name>
        <choiceText>발급 방법 문의</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>발급 방법 문의​</stringValue>
        </value>
    </choices>
    <choices>
        <name>A2</name>
        <choiceText>쿠폰 적용 불가 문의</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>쿠폰 적용 불가 문의​</stringValue>
        </value>
    </choices>
    <choices>
        <name>A3</name>
        <choiceText>기프티콘 미 수신</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>기프티콘 미 수신​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Later2Week</name>
        <choiceText>2주 경과</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2주 경과</stringValue>
        </value>
    </choices>
    <choices>
        <description>N1</description>
        <name>N1</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>withIn2Week</name>
        <choiceText>2주 이내</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2주 이내</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y1</name>
        <choiceText>Y</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>D1</name>
        <label>문의 파악</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>setInquiryResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_1</targetReference>
            </connector>
            <label>발급 방법 문의</label>
        </rules>
        <rules>
            <name>O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_1</targetReference>
            </connector>
            <label>쿠폰 적용 불가 문의</label>
        </rules>
        <rules>
            <name>O3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_1</targetReference>
            </connector>
            <label>기프티콘 미 수신</label>
        </rules>
    </decisions>
    <decisions>
        <name>D1_1</name>
        <label>안내사항</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>setInquiryResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1</targetReference>
            </connector>
            <label>홈페이지 Y  기기 Y</label>
        </rules>
        <rules>
            <name>O1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_0</targetReference>
            </connector>
            <label>홈페이지 Y 기기 N</label>
        </rules>
        <rules>
            <name>O1_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_0_0</targetReference>
            </connector>
            <label>홈페이지 N 기기 Y</label>
        </rules>
        <rules>
            <name>O1_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_0_0_0</targetReference>
            </connector>
            <label>홈페이지 N 기기 N</label>
        </rules>
    </decisions>
    <decisions>
        <name>D2_1</name>
        <label>안내사항</label>
        <locationX>1810</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>setInquiryResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_3_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_0_0_0_0</targetReference>
            </connector>
            <label>첫구매Y 홈페이지Y 오류Y</label>
        </rules>
        <rules>
            <name>O2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_3_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_0_0_0_0_0</targetReference>
            </connector>
            <label>첫구매Y 홈페이지Y 오류N</label>
        </rules>
        <rules>
            <name>O2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_22</targetReference>
            </connector>
            <label>첫구매Y 홈페이지N</label>
        </rules>
        <rules>
            <name>O2_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_1_0_0_0_0_0_0</targetReference>
            </connector>
            <label>첫구매N</label>
        </rules>
    </decisions>
    <decisions>
        <name>D2_1_0</name>
        <label>안내사항</label>
        <locationX>3042</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>setInquiryResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O3_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>withIn2Week</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_1_A0_1</targetReference>
            </connector>
            <label>MGM 추천 Y 구매일 Y</label>
        </rules>
        <rules>
            <name>O3_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Later2Week</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_3_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_1_A1_0</targetReference>
            </connector>
            <label>MGM 추천 Y 구매일 N 젤라 블루 Y</label>
        </rules>
        <rules>
            <name>O3_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Later2Week</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_3_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_1_A1_0_0</targetReference>
            </connector>
            <label>MGM 추천 Y 구매일 N 젤라 블루 N</label>
        </rules>
        <rules>
            <name>O3_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_1_A0_2</targetReference>
            </connector>
            <label>MGM 추천 N</label>
        </rules>
    </decisions>
    <formulas>
        <name>Inquiry_Footer</name>
        <dataType>String</dataType>
        <expression>&quot;-----------------------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>Line_Break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_1_R1</name>
        <dataType>String</dataType>
        <expression>&apos;홈페이지 가입 확인: &apos;&amp;{!Q1_1_RB}&amp; {!Line_Break}&amp;
&apos;기기 등록 확인: &apos;&amp;{!Q1_2_RB}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q2_1_R1</name>
        <dataType>String</dataType>
        <expression>&apos;첫 구매 확인: &apos;&amp; {!Q2_1_RB}&amp;{!Line_Break}&amp;
&apos;홈페이지 가입 확인: &apos;&amp; {!Q2_2_RB}&amp;{!Line_Break}&amp;
&apos;오류메시지/MGM 코드확인: &apos;&amp; {!Q2_3_RB}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q3_1_R1</name>
        <dataType>String</dataType>
        <expression>&apos;MGM 추천인 여부 확인: &apos;&amp; {!Q3_1_RB}&amp;{!Line_Break}&amp;
&apos;추천 받은 고객 구매일 확인: &apos;&amp; {!Q3_2_RB}&amp;{!Line_Break}&amp;
&apos;젤라 블루 고객 센터 안내: &apos;&amp; {!Q3_3_RB}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <description>문의 파악 , MGM 추천인 여부 확인 , 추천 받은 고객 구매일 확인</description>
        <name>Q3_1_R2</name>
        <dataType>String</dataType>
        <expression>&apos;MGM 추천인 여부 확인: &apos;&amp; {!Q3_1_RB}&amp;{!Line_Break}&amp;
&apos;추천 받은 고객 구매일 확인: &apos;&amp; {!Q3_2_RB}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <description>MGM추천인 여부 확인</description>
        <name>Q3_1_R3</name>
        <dataType>String</dataType>
        <expression>&apos;MGM 추천인 여부 확인: &apos;&amp; {!Q3_1_RB}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!Line_Break}&amp;{!Line_Break}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!Line_Break}&amp;&apos;MGM&apos;&amp;
&apos;문의 파악 : &apos; &amp;{!Q1_RB}&amp;{!Line_Break}&amp;
&quot;[Inbound Call]&quot;&amp;{!Line_Break}</expression>
    </formulas>
    <interviewLabel>Case MGM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case MGM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>2162</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_inquiry_Q1_0</name>
        <label>Update inquiry Q1</label>
        <locationX>2162</locationX>
        <locationY>1550</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Info_1</name>
        <label>안내사항</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A1_1</targetReference>
        </connector>
        <fields>
            <name>DT1_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;맑은 고딕&amp;quot;; color: black; font-size: 16px;&quot;&gt;홈페이지에 로그인하여 [내 프로필] 에서 [친구 추천 보내기] 를 클릭하여 카카오톡 메시지를 통해 지인 분에게 MGM 코드를 공유할 수 있습니다. 아이코스를 한 번도 구매한 적 없는 지인 분께 추천하여 지인 분이 회원가입 후 MGM 코드를 적용하여 제품을 구매할 경우 회원가입 할인에서 25,000원 추가 할인이 적용되어 56,000원 할인된 가격에 듀오나 멀티를 구매할 수 있습니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_0</name>
        <label>안내사항</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A1_2</targetReference>
        </connector>
        <fields>
            <name>DT1_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;기기 소지시: 기기 등록 진행 후 MGM 코드 발급 방법에 대해 안내&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;기기 미소지시: 기기를 보유하고 있으나 기기 미소지 고객인 경우 기기 등록하여 MGM 코드 발급 가능한 점 안내&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;기기 미보유시: 기기를 사용하는 기존 사용자가 MGM 코드를 발급할 수 있는 점 안내&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_0_0</name>
        <label>안내사항</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A1_3</targetReference>
        </connector>
        <fields>
            <name>DT1_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;고객님, 회원가입 및 기기 등록이 되어 있는 경우 MGM 코드를 발급하실 수 있습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;회원가입과 기기 등록 이후 홈페이지에 로그인하여 [내 프로필] 에서 [친구 추천 보내기] 를 클릭하여 카카오톡 메시지를 통해 지인 분에게 MGM 코드를 공유할 수 있습니다. 아이코스를 한 번도 구매한 적 없는 지인 분께 추천하여 지인 분이 회원가입 후 MGM 코드를 적용하여 제품을 구매할 경우 회원가입 할인에서 25,000원 추가 할인이 적용되어 56,000원 할인된 가격에 듀오나 멀티를 구매할 수 있습니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_0_0_0</name>
        <label>안내사항</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A1_4</targetReference>
        </connector>
        <fields>
            <name>DT1_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;고객님, MGM 프로그램은 회원가입 및 기기 등록이 되어 있는 기존 사용자 분이 아이코스를 처음 이용하는 지인에게 추천하기 위한 프로그램이기에 회원가입 및 기기 등록이 되어 있지 않은 경우 MGM 코드 발급이 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;현재 기기를 분실하여 등록할 기기가 없다면, 안타깝지만 MGM 코드 발급으로는 도움 드리기 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_0_0_0_0</name>
        <label>안내사항</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_1_A1_1</targetReference>
        </connector>
        <fields>
            <name>DT2_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;오류 내용(정상, 결제오류이후 재시도, 10회 초과 적용, 사용 불가 코드 등)에 따른 해결 방안 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_0_0_0_0_0</name>
        <label>안내사항</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_1_A1_2</targetReference>
        </connector>
        <fields>
            <name>DT2_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;(오류메세지 / MGM 코드 번호) 가 정확하게 확인되어야 어떤 이유로 친구 추천 코드의 사용이 어려운지 확인이 가능합니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;고객님, 번거로우시겠지만 해당 내용을 확인하여 재연락 주시길 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_0_0_0_0_0_0</name>
        <label>안내사항</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_1_A1_4</targetReference>
        </connector>
        <fields>
            <name>DT2_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;고객님, MGM 코드는 아이코스를 처음 구매하려는 고객을 위한 할인 프로그램이기에 안타깝지만 이전에 아이코스를 구매한 이력이 있을 경우 적용이 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_1_22</name>
        <label>안내사항</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_1_A1_3</targetReference>
        </connector>
        <fields>
            <name>DT2_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;고객님, MGM 코드는 회원가입 후 적용이 가능하기에 아이코스 홈페이지에 회원가입 진행을 먼저 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;회원가입 후 로그인하여 온라인 스토어에서 구매하실 때 지인 분에게 전달 받은 코드 번호를 입력하여 구매하실 수 있으며, 아이코스 오프라인 스토어에서도 사용 가능합니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_3</name>
        <label>안내사항</label>
        <locationX>2514</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3_1_A1_1</targetReference>
        </connector>
        <fields>
            <name>DT3_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;고객님, 구매 후 기프티콘이 빠르게 수신되지 않아 많이 불편하셨을 텐데요. 구매하신 날로부터 기프티콘이 발송되기까지 10영업일 정도 소요되고 있습니다. 불편하시겠지만 조금만 더 기다려 주시기를 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_3_0</name>
        <label>안내사항</label>
        <locationX>2778</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3_1_A1_2</targetReference>
        </connector>
        <fields>
            <name>DT3_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;해당 고객센터로 문의하신 후에도 기프티콘 수신이 어려울 경우 재연락 주신다면 저희 또한 추가적으로 확인하여 도움 드리겠습니다. 즉시 도움 못 드려 죄송합니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_3_0_0</name>
        <label>안내사항</label>
        <locationX>3042</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3_1_A1_3</targetReference>
        </connector>
        <fields>
            <name>DT3_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;고객님, 그럼 MGM 코드 사용과 관련하여 몇 가지를 정확하게 확인해주신다면 쿠폰 발송이 지연되는 부분에 대해 추가적으로 확인해보겠습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;- 구매처&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;- 구매일&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;- 추천인과 피추천인 연락처&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;- MGM 코드 번호&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;- 요청하는 기프티콘 종류&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;- 쿠폰(상품권) 금액&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;확인해주셔서 감사합니다. 확인 후 연락 드리기까지 시일이 다소 소요될 수 있는 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;→ MGM 코드 적용 불가 이슈에 대해 ES&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_3_0_0_0</name>
        <label>안내사항</label>
        <locationX>3306</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3_1_A1_4</targetReference>
        </connector>
        <fields>
            <name>DT3_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;고객님, 죄송하지만 스타벅스 기프티콘은 친구추천코드를 발급하여 아이코스를 추천한 고객 분에게 지급되고 있습니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;혹시 추천해주신 고객 분께서 기프티콘을 받지 못하셨다면 해당 고객 분이 직접 고객센터로 연락 주실 수 있도록 전달 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <fields>
            <name>Q1_RB</name>
            <choiceReferences>A1</choiceReferences>
            <choiceReferences>A2</choiceReferences>
            <choiceReferences>A3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>문의 파악</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_1</name>
        <label>Q1_1</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A1</targetReference>
        </connector>
        <fields>
            <name>Q1_1_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>홈페이지 가입 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_2_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>기기 등록 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_1</name>
        <label>Q2_1</label>
        <locationX>1810</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A2</targetReference>
        </connector>
        <fields>
            <name>Q2_1_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>첫 구매 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_2_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>홈페이지 가입 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_1_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_3_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>오류 메시지/MGM 코드 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_2_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3_1</name>
        <label>Q3_1</label>
        <locationX>3042</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D2_1_0</targetReference>
        </connector>
        <fields>
            <name>Q3_1_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MGM 추천인 여부 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3_2_RB</name>
            <choiceReferences>withIn2Week</choiceReferences>
            <choiceReferences>Later2Week</choiceReferences>
            <dataType>String</dataType>
            <fieldText>추천 받은 고객 구매일 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q3_1_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q3_3_RB</name>
            <choiceReferences>Y1</choiceReferences>
            <choiceReferences>N1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>젤라 블루 고객 센터 안내</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q3_2_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Later2Week</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>S1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>홈페이지에 로그인하여 [내 프로필] 에서 [친구 추천 보내기] 를 클릭하여 카카오톡 메시지를 통해 지인 분에게 MGM 코드를 공유할 수 있습니다. 아이코스를 한 번도 구매한 적 없는 지인 분께 추천하여 지인 분이 회원가입 후 MGM 코드를 적용하여 제품을 구매할 경우 회원가입 할인에서 25,000원 추가 할인이 적용되어 56,000원 할인된 가격에 듀오나 멀티를 구매할 수 있습니다.</text>
    </textTemplates>
    <textTemplates>
        <name>S2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;기기 소지시: 기기 등록 진행 후 MGM 코드 발급 방법에 대해 안내&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;기기 미소지시: 기기를 보유하고 있으나 기기 미소지 고객인 경우 기기 등록하여 MGM 코드 발급 가능한 점 안내&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;기기 미보유시: 기기를 사용하는 기존 사용자가 MGM 코드를 발급할 수 있는 점 안내&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>S3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>고객님, 회원가입 및 기기 등록이 되어 있는 경우 MGM 코드를 발급하실 수 있습니다.
회원가입과 기기 등록 이후 홈페이지에 로그인하여 [내 프로필] 에서 [친구 추천 보내기] 를 클릭하여 카카오톡 메시지를 통해 지인 분에게 MGM 코드를 공유할 수 있습니다. 아이코스를 한 번도 구매한 적 없는 지인 분께 추천하여 지인 분이 회원가입 후 MGM 코드를 적용하여 제품을 구매할 경우 회원가입 할인에서 25,000원 추가 할인이 적용되어 56,000원 할인된 가격에 듀오나 멀티를 구매할 수 있습니다.</text>
    </textTemplates>
    <textTemplates>
        <name>S4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>고객님, MGM 프로그램은 회원가입 및 기기 등록이 되어 있는 기존 사용자 분이 아이코스를 처음 이용하는 지인에게 추천하기 위한 프로그램이기에 회원가입 및 기기 등록이 되어 있지 않은 경우 MGM 코드 발급이 어려운 점 양해 부탁 드립니다.
현재 기기를 분실하여 등록할 기기가 없다면, 안타깝지만 MGM 코드 발급으로는 도움 드리기 어려운 점 양해 부탁 드립니다.</text>
    </textTemplates>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
