force-app/main/default/flows/Case_M1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Q1_1_A1</name>
        <label>Q1_1_A1</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_2_A1</name>
        <label>Q1_2_A1</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_2_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_A1</name>
        <label>Q1_A1</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_A2</name>
        <label>Q1_A2</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Footer</name>
        <label>Set Inquiry Footer</label>
        <locationX>798</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inquiry_Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_D1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C1</name>
        <choiceText>통화 성공</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>통화 성공​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C2</name>
        <choiceText>미사용</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>미사용</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C3</name>
        <choiceText>단순거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>단순거부​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfaction</name>
        <choiceText>만족</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>만족</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsatisfactory</name>
        <choiceText>불만족</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>불만족</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>Y</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_1_D1</name>
        <label>사용여부</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Inquiry_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_1_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_2</targetReference>
            </connector>
            <label>사용</label>
        </rules>
        <rules>
            <name>Q1_1_O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_2_0</targetReference>
            </connector>
            <label>미사용</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1_D1</name>
        <label>Q1_D1</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Inquiry_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_D1_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_C1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_1</targetReference>
            </connector>
            <label>통화 성공</label>
        </rules>
        <rules>
            <name>Q1_D1_O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_C2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_A1</targetReference>
            </connector>
            <label>미사용</label>
        </rules>
        <rules>
            <name>Q1_D1_O3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_C3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_A2</targetReference>
            </connector>
            <label>단순 거부</label>
        </rules>
    </decisions>
    <formulas>
        <name>Inquiry_Footer</name>
        <dataType>String</dataType>
        <expression>{!Line_Break}&amp;&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>Line_Break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_1_R1</name>
        <dataType>String</dataType>
        <expression>&quot;아이코스 사용 여부 : &quot;&amp;{!Q1_1_RB1}&amp;{!Line_Break}&amp;
&quot;사용 만족도 : &quot;&amp;{!Q1_2_RB2}&amp;{!Line_Break}&amp;
&quot;이유 : &quot;&amp;{!Q1_2_T1}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q1_2_R1</name>
        <dataType>String</dataType>
        <expression>&quot;아이코스 사용 여부 : &quot;&amp;{!Q1_1_RB1}&amp;{!Line_Break}&amp;
&quot;미사용 사유 : &quot;&amp;{!Q1_3_T1}&amp;{!Line_Break}&amp;
&quot;언제부터 미사용 : &quot;&amp;{!Q1_3_T2}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q1_R1</name>
        <dataType>String</dataType>
        <expression>&quot;거부 사유 : &quot;&amp;{!Q1_T1}&amp;{!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!Line_Break}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!Line_Break}&amp;
{!CaseType} &amp;{!Line_Break}&amp;
&apos;통화 성공 : &apos; &amp;{!Q1_RB1}&amp;{!Line_Break}</expression>
    </formulas>
    <interviewLabel>Case M1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case M1_M11</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>798</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>798</locationX>
        <locationY>1430</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>798</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <fields>
            <name>Q1_RB1</name>
            <choiceReferences>Q1_C1</choiceReferences>
            <choiceReferences>Q1_C2</choiceReferences>
            <choiceReferences>Q1_C3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화성공</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_T1</name>
            <dataType>String</dataType>
            <fieldText>거부 사유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q1_C2</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Q1_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q1_C3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_1</name>
        <label>Q1_1</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_D1</targetReference>
        </connector>
        <fields>
            <name>Q1_1_RB1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>아이코스 사용 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_2</name>
        <label>Q1_2</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_A1</targetReference>
        </connector>
        <fields>
            <name>Q1_2_RB2</name>
            <choiceReferences>Satisfaction</choiceReferences>
            <choiceReferences>Unsatisfactory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>사용 만족도</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_2_T1</name>
            <dataType>String</dataType>
            <fieldText>이유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_2_0</name>
        <label>Q1_2</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_2_A1</targetReference>
        </connector>
        <fields>
            <name>Q1_3_T1</name>
            <dataType>String</dataType>
            <fieldText>미사용 사유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_3_T2</name>
            <dataType>String</dataType>
            <fieldText>언제부터 미사용</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
