force-app/main/default/flows/Case_Safety.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Info1_Asgmt</name>
        <label>안내사항 1 결과</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info1_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info1_Asgmt_0</name>
        <label>안내사항 1 결과</label>
        <locationX>1282</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info1_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info1_Asgmt_0_0</name>
        <label>안내사항 1 결과</label>
        <locationX>2514</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info1_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info2_Asgmt</name>
        <label>안내사항 2 결과</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info2_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info2_Asgmt_0</name>
        <label>안내사항 2 결과</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info2_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info2_Asgmt_0_0</name>
        <label>안내사항 2 결과</label>
        <locationX>2778</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info2_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info3_Asgmt</name>
        <label>안내사항 3 결과</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info3_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info3_Asgmt_0</name>
        <label>안내사항 3 결과</label>
        <locationX>1810</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info3_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info3_Asgmt_0_0</name>
        <label>안내사항 3 결과</label>
        <locationX>3042</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info3_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info4_Asgmt</name>
        <label>안내사항 4 결과</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info4_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info4_Asgmt_0</name>
        <label>안내사항 4 결과</label>
        <locationX>2074</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info4_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Info4_Asgmt_0_0</name>
        <label>안내사항 4 결과</label>
        <locationX>3306</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Info4_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inquiry_Result_Asgmt</name>
        <label>Inquiry Result Asgmt</label>
        <locationX>2162</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inquiry_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_Result_Asgmt</name>
        <label>Safety 분류 결과</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_Result_Asgmt</name>
        <label>회원가입 및 기기등록 여부 및 Codentify</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_Result_Asgmt_0</name>
        <label>회원가입 및 기기등록 여부 및 Codentify</label>
        <locationX>1810</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Result_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_Result_Asgmt_0_0</name>
        <label>회원가입 및 기기등록 여부 및 Codentify</label>
        <locationX>3042</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Result_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q3_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3Q4_Result_Asgmt</name>
        <label>추가피해 및 특이사항</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3Q4_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3Q4_Result_Asgmt_0</name>
        <label>추가피해 및 특이사항</label>
        <locationX>1810</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3Q4_Result_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q5_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3Q4_Result_Asgmt_0_0</name>
        <label>추가피해 및 특이사항</label>
        <locationX>3042</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3Q4_Result_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q5_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q5_Result_Asgmt</name>
        <label>구매일 및 보증기간</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q5_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q5_Result_Asgmt_0</name>
        <label>구매일 및 보증기간</label>
        <locationX>1810</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_Result_Resource_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q5_Decision_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q5_Result_Asgmt_0_0</name>
        <label>구매일 및 보증기간</label>
        <locationX>3042</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_Result_Resource_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q5_Decision_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Q1_RB_Choice1</name>
        <choiceText>잠재적 Safety (외부변형이 없는 Safety)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>잠재적 Safety (외부변형이 없는 Safety)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_RB_Choice2</name>
        <choiceText>명백한 Safety (외부변형이 있는 Safety)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>명백한 Safety (외부변형이 있는 Safety)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_RB_Choice3</name>
        <choiceText>재산상 손해 (재산 피해가 발생한 Safety)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>재산상 손해 (재산 피해가 발생한 Safety)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_N</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Y</name>
        <choiceText>Y</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_Choice1</name>
        <choiceText>구매일 확인 가능, 보증기간 이내</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>구매일 확인 가능, 보증기간 이내​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_Choice2</name>
        <choiceText>구매일 확인 불가, 보증기간 이내</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>구매일 확인 불가, 보증기간 이내​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_Choice3</name>
        <choiceText>구매일 확인 가능, 보증기간 경과</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>구매일 확인 가능, 보증기간 경과​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_Choice4</name>
        <choiceText>구매일 확인 불가, 보증기간 경과</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>구매일 확인 불가, 보증기간 경과​</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_Decision</name>
        <label>Safety 분류</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_R_Choice1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_RB_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>잠재적 Safety</label>
        </rules>
        <rules>
            <name>Q1_R_Choice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_RB_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_0</targetReference>
            </connector>
            <label>명백한 Safety</label>
        </rules>
        <rules>
            <name>Q1_R_Choice3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_RB_Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_0_0</targetReference>
            </connector>
            <label>재산상 손해</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q5_Decision</name>
        <label>구매일 및 보증기간</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q5_C1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C1_Info</targetReference>
            </connector>
            <label>확인 가능, 보증기간 이내</label>
        </rules>
        <rules>
            <name>Q5_C2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C2_Info</targetReference>
            </connector>
            <label>확인 불가, 보증기간 이내</label>
        </rules>
        <rules>
            <name>Q5_C3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C3_Info</targetReference>
            </connector>
            <label>확인 가능, 보증기간 경과</label>
        </rules>
        <rules>
            <name>Q5_C4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C4_Info</targetReference>
            </connector>
            <label>확인 불가, 보증기간 경과</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q5_Decision_0</name>
        <label>구매일 및 보증기간</label>
        <locationX>1810</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q5_C1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C1_Info_0</targetReference>
            </connector>
            <label>확인 가능, 보증기간 이내</label>
        </rules>
        <rules>
            <name>Q5_C2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C2_Info_0</targetReference>
            </connector>
            <label>확인 불가, 보증기간 이내</label>
        </rules>
        <rules>
            <name>Q5_C3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C3_Info_0</targetReference>
            </connector>
            <label>확인 가능, 보증기간 경과</label>
        </rules>
        <rules>
            <name>Q5_C4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C4_Info_0</targetReference>
            </connector>
            <label>확인 불가, 보증기간 경과</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q5_Decision_0_0</name>
        <label>구매일 및 보증기간</label>
        <locationX>3042</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q5_C1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C1_Info_0_0</targetReference>
            </connector>
            <label>확인 가능, 보증기간 이내</label>
        </rules>
        <rules>
            <name>Q5_C2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C2_Info_0_0</targetReference>
            </connector>
            <label>확인 불가, 보증기간 이내</label>
        </rules>
        <rules>
            <name>Q5_C3_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C3_Info_0_0</targetReference>
            </connector>
            <label>확인 가능, 보증기간 경과</label>
        </rules>
        <rules>
            <name>Q5_C4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q5_RB_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5_Choice4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_C4_Info_0_0</targetReference>
            </connector>
            <label>확인 불가, 보증기간 경과</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>assetlist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>CCR_CodentifyId__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Info1_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C1_Text}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info1_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C1_Text_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info1_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C1_Text_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info2_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C2_Text}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info2_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C2_Text_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info2_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C2_Text_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info3_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C3_Text}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info3_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C3_Text_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info3_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C3_Text_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info4_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C4_Text}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info4_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C4_Text_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Info4_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;안내사항 : &quot;&amp;{!Q5_C4_Text_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>InquiryFooter</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;Safety 분류 : &quot;&amp;{!Q1_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;회원가입 및 기기등록 여부 : &quot;&amp;{!Q2_RB}&amp;{!LineBreak}&amp;
&quot;Codentify : &quot;&amp;{!Codentify}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_Result_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;회원가입 및 기기등록 여부 : &quot;&amp;{!Q2_RB_0}&amp;{!LineBreak}&amp;
&quot;Codentify : &quot;&amp;{!Codentify_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_Result_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;회원가입 및 기기등록 여부 : &quot;&amp;{!Q2_RB_0_0}&amp;{!LineBreak}&amp;
&quot;Codentify : &quot;&amp;{!Codentify_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q3_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;Codentify : &quot;&amp;{!Q3_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q3Q4_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;추가 피해 여부 : &quot;&amp;{!Q3_RB}&amp;{!LineBreak}&amp;
&quot;외부 변형 유무 : &quot;&amp;{!Q4_RB1}&amp;{!LineBreak}&amp;
&quot;특이한 냄새나 현상 유무 : &quot;&amp;{!Q4_RB2}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q3Q4_Result_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;추가 피해 여부 : &quot;&amp;{!Q3_RB_0}&amp;{!LineBreak}&amp;
&quot;외부 변형 유무 : &quot;&amp;{!Q4_RB1_0}&amp;{!LineBreak}&amp;
&quot;특이한 냄새나 현상 유무 : &quot;&amp;{!Q4_RB2_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q3Q4_Result_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;추가 피해 여부 : &quot;&amp;{!Q3_RB_0_0}&amp;{!LineBreak}&amp;
&quot;외부 변형 유무 : &quot;&amp;{!Q4_RB1_0_0}&amp;{!LineBreak}&amp;
&quot;특이한 냄새나 현상 유무 : &quot;&amp;{!Q4_RB2_0_0}&amp;{!LineBreak}&amp;
&quot;증상 확인 시 지인 유무 : &quot;&amp;{!Q4_RB3_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q5_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;구매일 확인 : &quot;&amp;{!Q5_T1}&amp;{!LineBreak}&amp;
&quot;구매일 및 보증기간 확인 : &quot;&amp;{!Q5_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q5_Result_Resource_0</name>
        <dataType>String</dataType>
        <expression>&quot;구매일 확인 : &quot;&amp;{!Q5_T2}&amp;{!LineBreak}&amp;
&quot;구매일 및 보증기간 확인 : &quot;&amp;{!Q5_RB_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q5_Result_Resource_0_0</name>
        <dataType>String</dataType>
        <expression>&quot;구매일 확인 : &quot;&amp;{!Q5_T3}&amp;{!LineBreak}&amp;
&quot;구매일 및 보증기간 확인 : &quot;&amp;{!Q5_RB_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!LineBreak}&amp;{!LineBreak}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!LineBreak}&amp;
&quot;Safety&quot;&amp;{!LineBreak}</expression>
    </formulas>
    <interviewLabel>Case Safety {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Safety</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>2162</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>KDCE_InquiryResult__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inquiry_Result</name>
        <label>Update Inquiry Result</label>
        <locationX>2162</locationX>
        <locationY>2270</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Safety 분류(Q1)</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_Result_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q1_RB</name>
            <choiceReferences>Q1_RB_Choice1</choiceReferences>
            <choiceReferences>Q1_RB_Choice2</choiceReferences>
            <choiceReferences>Q1_RB_Choice3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Safety 분류</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2</name>
        <label>회원가입 및 기기등록 확인(Q2)</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_Result_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q2_RB</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>회원가입 및 기기등록 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codentify</name>
            <choiceReferences>assetlist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codentify 수집 (제품목록이 없을 경우 기기 등록 후 &quot;이전&quot; 버튼 클릭 후 재 진행)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_Choice2_DT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;[Prospect인 경우 안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;이후 케어플러스를 포함한 원활한 서비스 진행을 위해 홈페이지 회원가입을 부탁드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_0</name>
        <label>회원가입 및 기기등록 확인(Q2)</label>
        <locationX>1810</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_Result_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q2_RB_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>회원가입 및 기기등록 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codentify_0</name>
            <choiceReferences>assetlist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codentify 수집 (제품목록이 없을 경우 기기 등록 후 &quot;이전&quot; 버튼 클릭 후 재 진행)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_Choice2_DT_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;[Prospect인 경우 안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;이후 케어플러스를 포함한 원활한 서비스 진행을 위해 홈페이지 회원가입을 부탁드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_0_0</name>
        <label>회원가입 및 기기등록 확인(Q2)</label>
        <locationX>3042</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_Result_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q2_RB_0_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>회원가입 및 기기등록 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codentify_0_0</name>
            <choiceReferences>assetlist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codentify 수집 (제품목록이 없을 경우 기기 등록 후 &quot;이전&quot; 버튼 클릭 후 재 진행)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB_0_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_Choice2_DT_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;[Prospect인 경우 안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;이후 케어플러스를 포함한 원활한 서비스 진행을 위해 홈페이지 회원가입을 부탁드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB_0_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3</name>
        <label>추가 피해 확인</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Q3_RB</name>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>추가 피해 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3_0</name>
        <label>추가 피해 확인</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4_0</targetReference>
        </connector>
        <fields>
            <name>Q3_RB_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>추가 피해 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3_0_0</name>
        <label>추가 피해 확인</label>
        <locationX>3042</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4_0_0</targetReference>
        </connector>
        <fields>
            <name>Q3_RB_0_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <dataType>String</dataType>
            <fieldText>추가 피해 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4</name>
        <label>특이 사항 확인</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3Q4_Result_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q4_RB1</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1) 외부 변형이 있었는지?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_RB2</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>2) 특이한 냄새나 현상이 있었는지?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4_0</name>
        <label>특이 사항 확인</label>
        <locationX>1810</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3Q4_Result_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q4_RB1_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1) 외부 변형은 있었는지?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_RB2_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>2) 특이한 냄새나 현상이 있었는지?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4_0_0</name>
        <label>특이 사항 확인</label>
        <locationX>3042</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3Q4_Result_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q4_RB1_0_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1) 외부 변형은 있었는지?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_RB2_0_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>2) 특이한 냄새나 현상은 있었는지?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q4_RB3_0_0</name>
            <choiceReferences>Q2_Y</choiceReferences>
            <choiceReferences>Q2_N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3) 증상을 확인했을 때 혹시 주변 지인 분과 같이 계셨나요?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5</name>
        <label>구매일 및 보증기간 확인 후 안내사항</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q5_Result_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q5_T1</name>
            <dataType>String</dataType>
            <fieldText>구매일</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q5_RB</name>
            <choiceReferences>Q5_Choice1</choiceReferences>
            <choiceReferences>Q5_Choice2</choiceReferences>
            <choiceReferences>Q5_Choice3</choiceReferences>
            <choiceReferences>Q5_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>구매일 및 보증기간 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_0</name>
        <label>구매일 및 보증기간 확인 후 안내사항</label>
        <locationX>1810</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q5_Result_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q5_T2</name>
            <dataType>String</dataType>
            <fieldText>구매일</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q5_RB_0</name>
            <choiceReferences>Q5_Choice1</choiceReferences>
            <choiceReferences>Q5_Choice2</choiceReferences>
            <choiceReferences>Q5_Choice3</choiceReferences>
            <choiceReferences>Q5_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>구매일 및 보증기간 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_0_0</name>
        <label>구매일 및 보증기간 확인 후 안내사항</label>
        <locationX>3042</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q5_Result_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q5_T3</name>
            <dataType>String</dataType>
            <fieldText>구매일</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q5_RB_0_0</name>
            <choiceReferences>Q5_Choice1</choiceReferences>
            <choiceReferences>Q5_Choice2</choiceReferences>
            <choiceReferences>Q5_Choice3</choiceReferences>
            <choiceReferences>Q5_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>구매일 및 보증기간 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C1_Info</name>
        <label>안내사항 1</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info1_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q5_C1_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인 감사합니다. 말씀하신 증상에 대해 정확한 확인을 위해 서비스센터로 내방하여 육안점검을 받아 보실 것을 권유 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 지역 내 가까운 서비스센터 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C1_Info_0</name>
        <label>안내사항 1</label>
        <locationX>1282</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info1_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C1_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인 감사합니다. 정확하게 확인하기 위해 말씀하신 증상을 사진으로 촬영하여 저희에게 보내 주실 수 있으신가요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 사진을 통해 증상을 정확하게 확인하여 택배 서비스 혹은 매장 내방 권유&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C1_Info_0_0</name>
        <label>안내사항 1</label>
        <locationX>2514</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info1_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C1_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인 감사합니다. 정확하게 확인하기 위해 말씀하신 증상을 사진으로 촬영하여 저희에게 보내 주실 수 있으신가요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 사진을 통해 증상을 정확하게 확인하여 택배 서비스 혹은 매장 내방 권유&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C2_Info</name>
        <label>안내사항 2</label>
        <locationX>314</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info2_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q5_C2_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;구매일을 정확하게 확인하기 어렵다면 제품 포장일 기준 15개월로 보증기간을 산정하고 있으며 현재 보증기간 이내로 확인됩니다. 말씀하신 증상에 대해 정확한 확인을 위해 서비스센터로 내방하여 육안점검을 받아 보실 것을 권유 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 지역 내 가까운 서비스센터 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C2_Info_0</name>
        <label>안내사항 2</label>
        <locationX>1546</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info2_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C2_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;구매일을 정확하게 확인하기 어렵다면 제품 포장일 기준 15개월로 보증기간을 산정하고 있으며 현재 보증기간 이내로 확인됩니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;증상이 발생한 부분을 사진으로 촬영하여 보내 주신다면 더 정확하게 확인이 가능할 것 같아, 혹시 사진 전송을 부탁 드려도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;→ 사진을 통해 증상을 정확하게 확인하여 택배 서비스 혹은 매장 내방 권유&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C2_Info_0_0</name>
        <label>안내사항 2</label>
        <locationX>2778</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info2_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C2_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;구매일을 정확하게 확인하기 어렵다면 제품 포장일 기준 15개월로 보증기간을 산정하고 있으며 현재 보증기간 이내로 확인됩니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;증상이 발생한 부분을 사진으로 촬영하여 보내 주신다면 더 정확하게 확인이 가능할 것 같아, 혹시 사진 전송을 부탁 드려도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;→ 사진을 통해 증상을 정확하게 확인하여 택배 서비스 혹은 매장 내방 권유&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C3_Info</name>
        <label>안내사항 3</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info3_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q5_C3_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인 감사합니다. 아이코스는 구매일을 기준으로 12개월 동안 제품에 대한 서비스를 진행하고 있습니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;서비스센터로 내방하여 기기에 대한 점검을 받아 보실 수는 있으나, 현재 구매하신지 1년이 경과되어 제품에 문제가 있더라도 서비스로 도움 드리기 어려운 점 양해 부탁 드립니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;혹시 괜찮으시다면, 제품을 구매할 수 있는 방법에 대해 안내를 드려봐도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 수긍 시 구매 관련 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C3_Info_0</name>
        <label>안내사항 3</label>
        <locationX>1810</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info3_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C3_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인 감사합니다. 아이코스는 구매일을 기준으로 12개월 동안 제품에 대한 서비스를 진행하고 있습니다. 해당 기기는 고객님께서 말씀하신 것처럼 구매하신지 1년이 경과된 것으로 확인되어 서비스로 도움 드리기 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;혹시 괜찮으시다면, 제품을 구매할 수 있는 방법에 대해 안내를 드려봐도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 수긍 시 구매 관련 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C3_Info_0_0</name>
        <label>안내사항 3</label>
        <locationX>3042</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info3_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C3_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인 감사합니다. 아이코스는 구매일을 기준으로 12개월 동안 제품에 대한 서비스를 진행하고 있습니다. 해당 기기는 고객님께서 말씀하신 것처럼 구매하신지 1년이 경과된 것으로 확인되어 서비스로 도움 드리기 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;혹시 괜찮으시다면, 제품을 구매할 수 있는 방법에 대해 안내를 드려봐도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 수긍 시 구매 관련 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C4_Info</name>
        <label>안내사항 4</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info4_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Q5_C4_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;아이코스는 구매일을 기준으로 12개월, 구매일을 확인하기 어렵다면 제품 포장일을 기준으로 15개월을 보증기간으로 산정하고 있습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;현재 구매일을 정확하게 확인하기 어려워 제조일 기준으로 보증기간을 확인했을 때 보증기간이 경과된 것으로 확인되어 제품에 문제가 있더라도 서비스로 도움 드리기 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;혹시 괜찮으시다면, 제품을 구매할 수 있는 방법에 대해 안내 드려봐도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;→ 고객 수긍 시 구매 관련 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C4_Info_0</name>
        <label>안내사항 4</label>
        <locationX>2074</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info4_Asgmt_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C4_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;아이코스는 구매일을 기준으로 12개월, 구매일을 확인하기 어렵다면 제품 포장일을 기준으로 15개월을 보증기간으로 산정하고 있습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;현재 구매일을 정확하게 확인하기 어려워 제조일 기준으로 보증기간을 확인했을 때 보증기간이 경과된 것으로 확인되어 서비스로 도움 드리기 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;혹시 괜찮으시다면, 제품을 구매할 수 있는 방법에 대해 안내 드려봐도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 수긍 시 구매 관련 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q5_C4_Info_0_0</name>
        <label>안내사항 4</label>
        <locationX>3306</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Info4_Asgmt_0_0</targetReference>
        </connector>
        <fields>
            <name>Q5_C4_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;아이코스는 구매일을 기준으로 12개월, 구매일을 확인하기 어렵다면 제품 포장일을 기준으로 15개월을 보증기간으로 산정하고 있습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;현재 구매일을 정확하게 확인하기 어려워 제조일 기준으로 보증기간을 확인했을 때 보증기간이 경과된 것으로 확인되어 서비스로 도움 드리기 어려운 점 양해 부탁 드립니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;혹시 괜찮으시다면, 제품을 구매할 수 있는 방법에 대해 안내 드려봐도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;→ 고객 수긍 시 구매 관련 안내&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
