force-app/main/default/flows/Case_Media.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Choice1_Info_Asgmt</name>
        <label>Choice1 Info Asgmt</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mediachoice_1_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Choice2_Info_Asgmt</name>
        <label>Choice2 Info Asgmt</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mediachoice_2_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Choice3_Info_Asgmt</name>
        <label>Choice3 Info Asgmt</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mediachoice_3_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inquiry_Result_Asgmt</name>
        <label>Inquiry Result Asgmt</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Media_Choice_Asgmt</name>
        <label>Media Choice Asgmt</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mediachoice_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Media_choice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice1</name>
        <choiceText>고객의 외부 유포 혹은 대외 기관 언급</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>고객의 외부 유포 혹은 대외 기관 언급</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice2</name>
        <choiceText>액상 가향 담배 이슈</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>액상 가향 담배 이슈</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice3</name>
        <choiceText>아이코스의 유해성 보도와 관련된 문의</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>아이코스의 유해성 보도와 관련된 문의</stringValue>
        </value>
    </choices>
    <constants>
        <name>constant_1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>고객님, 얼마나 불편하시면 그렇게 말씀하시는지 저도 충분히 공감됩니다.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>UniqueName</name>
        <label>문의파악</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueName1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Media</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mediachoice1_Info</targetReference>
            </connector>
            <label>외부 유포 혹은 대외 기관 언급</label>
        </rules>
        <rules>
            <name>UniqueName2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Media</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mediachoice2_Info</targetReference>
            </connector>
            <label>액상 가향 담배 이슈</label>
        </rules>
        <rules>
            <name>UniqueName3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Media</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mediachoice3_Info</targetReference>
            </connector>
            <label>유해성 보도 관련</label>
        </rules>
    </decisions>
    <formulas>
        <name>Footer</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Mediachoice_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;Media유형 : &quot;&amp;{!Media}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!LineBreak}&amp;{!LineBreak}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!LineBreak}&amp;
&quot;Media&quot;&amp;{!LineBreak}</expression>
    </formulas>
    <interviewLabel>Case_Media {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Media</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>KDCE_InquiryResult__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IR</name>
        <label>Update IR</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Media_choice</name>
        <label>Media</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Media_Choice_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Media</name>
            <choiceReferences>choice1</choiceReferences>
            <choiceReferences>choice2</choiceReferences>
            <choiceReferences>choice3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Media유형</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mediachoice1_Info</name>
        <label>Mediachoice1_Info</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choice1_Info_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Mediachoice_1_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;고객님, 얼마나 불편하시면 그렇게 말씀하시는지 저도 충분히 공감됩니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;다만 해당 문제를 공개하거나 전달하는 것은 문제 해결에 도움이 되지 않기에 ~ 에 대해 안내 드리고 있습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;원하시는 답변으로 도움 못 드려 너무 죄송합니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mediachoice2_Info</name>
        <label>Mediachoice2_Info</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choice2_Info_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Mediachoice_2_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;아이코스는 담뱃잎을 가열하는 제품으로, 현재 이슈가 되고 있는 전자 담배 또는 증기를 발생시키는 액상 전자 담배가 아니며, 말씀해 주신 사건들은 IQOS와 연관이 없습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;또한 필립모리스 인터내셔널 제품은 미국에서 이슈가 되었던 성분인 THC 또는 CBD 오일이 포함되어 있지 않습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;덧붙여 필립모리스 인터내셔널에서는 아이코스에 대한 독점 계약을 체결하여 미국에서 3종류의 히츠 스틱 및 아이코스를 판매하기 시작하였음을 안내 드립니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mediachoice3_Info</name>
        <label>Mediachoice3_Info</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choice3_Info_Asgmt</targetReference>
        </connector>
        <fields>
            <name>Mediachoice_3_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[안내사항]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;아이코스는 태우는 방식이 아닌 가열하는 방식으로 증기에 포함된 유해 성분 및 잠재적으로 유해할 가능성이 있는 성분이 일반 궐련 담배 연기에 비하여 현저하게 낮다는 점이 확인되었습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;또한, 위험도 감소 제품인지의 여부를 판단하기 위한 과학적 연구를 계속 진행하고 있으며 지금까지의 연구 결과에 따르면, IQOS 와 연구용 표준 담배와 비교했을 때 유해한 화학 물질의 수준이 95% 감소된 것을 확인하였습니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 20px;&quot;&gt;다만, IQOS는 무해하거나 안전하지 않으며 고객님께서 담배 관련 질병의 발생 위험을 줄이는 최선의 방법은 모든 담배 관련 제품의 사용을 완전히 중단하는 것입니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;고객님, 얼마나 불편하시면 그렇게 말씀하시는지 저도 충분히 공감됩니다.&lt;/p&gt;&lt;p&gt;다만 해당 문제를 공개하거나 전달하는 것은 문제 해결에 도움이 되지 않기에 ~에 대해 안내드리고 있습니다.&lt;/p&gt;&lt;p&gt;원하시는 답변으로 도움 못 드려 너무 죄송합니다.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
