force-app/main/default/flows/Case_E_Commerce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Inquiry_Result_Asgmt</name>
        <label>Inquiry Result Asgmt</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inquiry_Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_InquiryResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LAS_A1</name>
        <label>LAS &amp; FD 가능</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAS_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LAS_A2</name>
        <label>LAD &amp; FD  거부</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAS_R1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAS_R2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LAU_A1</name>
        <label>LAU</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAU_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_D1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FD_A</name>
        <choiceText>FD 가능</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FD 가능</stringValue>
        </value>
    </choices>
    <choices>
        <name>FD_R</name>
        <choiceText>FD 거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FD 거부</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAS</name>
        <choiceText>LAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAU</name>
        <choiceText>LAU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LAU</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>거부</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>성공</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>성공</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_D1</name>
        <label>Q1_D1</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Inquiry_Result_Asgmt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Q1_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LAS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_RB3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FD_A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAS_A1</targetReference>
            </connector>
            <label>LAS &amp; FD 가능</label>
        </rules>
        <rules>
            <name>Q1_O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LAS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_RB3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FD_R</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAS_A2</targetReference>
            </connector>
            <label>LAS &amp; FD 거부</label>
        </rules>
        <rules>
            <name>Q1_O3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LAU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAU_A1</targetReference>
            </connector>
            <label>LAU</label>
        </rules>
    </decisions>
    <formulas>
        <name>Inquiry_Footer</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>Line_Break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!Line_Break}&amp;{!Line_Break}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!Line_Break}
&amp;&apos;E-Commerce&apos; &amp;{!Line_Break}
&amp;&apos;통화 성공 : &apos; &amp;{!Q1_RB1}&amp;{!Line_Break}</expression>
    </formulas>
    <interviewLabel>Case E-Commerce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case E-Commerce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_InquiryResult</name>
        <label>Update InquiryResult</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <fields>
            <name>Q1_RB1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 성공</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_RB2</name>
            <choiceReferences>LAS</choiceReferences>
            <choiceReferences>LAU</choiceReferences>
            <dataType>String</dataType>
            <fieldText>첫 사용자 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q1_RB3</name>
            <choiceReferences>FD_A</choiceReferences>
            <choiceReferences>FD_R</choiceReferences>
            <dataType>String</dataType>
            <fieldText>일주일 후 연락</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>LAS</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q1_T1</name>
            <dataType>String</dataType>
            <fieldText>거부 사유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FD_R</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LAS_R1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Q. 첫 사용자 여부 : {!Q1_RB2}{!Line_Break}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Q. 일주일 후 연락 : {!Q1_RB3}{!Line_Break}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LAS_R2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Q. 거부 사유 : {!Q1_T1}{!Line_Break}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LAU_R1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Q. 첫 사용자 여부 : {!Q1_RB2}{!Line_Break}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
