force-app/main/default/flows/Case_Sentiment_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Issue_Type_Assignment</name>
        <label>Issue Type Assignment</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>IssueType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>기기 성능 및 특징 이슈</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IssueDetailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>히츠스틱 비어 있음/ 담뱃잎 없음/ 증기 없음/ 일관성 없는 경험</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_3_A1</name>
        <label>Q1_3_A1</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_1_R1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_3_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_4_A1</name>
        <label>Q1_4_A1</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_1_R1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_4_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_5_A1</name>
        <label>Q1_5_A1</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_5_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q1_6_A1</name>
        <label>Q1_6_A1</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_5_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Inquiry_Result_Footer_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_3_A1</name>
        <label>Q2_3_A1</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_1_R1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_3_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_4_A1</name>
        <label>Q2_4_A1</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_1_R1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_4_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q2_5_A1</name>
        <label>Q2_5_A1</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_5_R1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q3_1_A1</name>
        <label>Q3_1_A1</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_1_R1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inquiry_Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_D1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Inquiry_Result_Footer</name>
        <label>set Inquiry Result_Footer</label>
        <locationX>1304</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inquiry_Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Inquiry_Result_Footer_0</name>
        <label>set Inquiry Result_Footer</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inquiry_Footer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case1_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Heets</name>
        <choiceText>Heets 불만 고객</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heets 불만 고객</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>Y</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_1_D1</name>
        <label>Q1_1_D1</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Q1_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_1_D1_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_2_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_3</targetReference>
            </connector>
            <label>Y</label>
        </rules>
        <rules>
            <name>Q1_1_D1_O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_2_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_4</targetReference>
            </connector>
            <label>N</label>
        </rules>
        <rules>
            <name>N_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_2_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_6_A1</targetReference>
            </connector>
            <label>N_2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1_2_D1</name>
        <label>Q1_2_D1</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Q2_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_2_D1_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_2_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Type_Assignment</targetReference>
            </connector>
            <label>Y</label>
        </rules>
        <rules>
            <name>Q1_2_D1_O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_2_RB2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_4</targetReference>
            </connector>
            <label>N</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1_D1</name>
        <label>첫인사 &amp; 고객 파악</label>
        <locationX>1304</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_D1_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_2</targetReference>
            </connector>
            <label>Y</label>
        </rules>
        <rules>
            <name>Q1_D1_O2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Heets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_2</targetReference>
            </connector>
            <label>Heets 불만 고객</label>
        </rules>
        <rules>
            <name>Q1_D1_O3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>N</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_1_A1</targetReference>
            </connector>
            <label>N</label>
        </rules>
    </decisions>
    <formulas>
        <name>Inquiry_Footer</name>
        <dataType>String</dataType>
        <expression>{!Q2_5_DT1}&amp;{!Line_Break}&amp;
&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>Line_Break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_1_R1</name>
        <dataType>String</dataType>
        <expression>&apos;통화 가능 여부 확인: &apos;&amp;{!Q1_2_RB1}&amp; {!Line_Break}&amp;
&apos;불편사항 확인: &apos;&amp;{!Q1_2_RB2}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q1_3_R1</name>
        <dataType>String</dataType>
        <expression>&apos;불편 사항 취합: &apos;&amp;{!Q1_3_T1}&amp; {!Line_Break}&amp;
&apos;문의 유형 : &apos;&amp; {!Q1_3_PL1.topValue}&amp; {!Line_Break}&amp;
&apos;문의 상세유형 : &apos;&amp; {!Q1_3_PL1.middleValue}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q1_4_R1</name>
        <dataType>String</dataType>
        <expression>{!Q1_4_DT1} &amp;  {!Line_Break}&amp;
&apos;만족도 조사 저점 사유: &apos;&amp;{!Q1_4_T1}&amp; {!Line_Break}&amp;
{!Q1_4_DT2}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q1_5_R1</name>
        <dataType>String</dataType>
        <expression>&apos;통화 가능 여부 확인: &apos;&amp;{!Q1_2_RB1}&amp; {!Line_Break}&amp;
{!Q1_2_T1}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q2_1_R1</name>
        <dataType>String</dataType>
        <expression>&apos;통화 가능 여부 확인: &apos;&amp;{!Q2_2_RB1}&amp; {!Line_Break}&amp;
{!Q2_2_DT1}&amp; {!Line_Break}&amp;
&apos;불편사항 확인: &apos;&amp;{!Q2_2_RB2}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q2_3_R1</name>
        <dataType>String</dataType>
        <expression>&apos;Q1. 지금도 동일한 히츠 제품군을 사용하고 있나요?: &apos;&amp;{!Q2_3_RB1}&amp; {!Line_Break}&amp;
&apos;Q2. 기존 히츠와 동일한 제품 군으로 새로 구매 하셨나요? 불량이라 말씀해 주신 히츠를 소지 중 이신가요? : &apos;&amp;{!Q2_3_RB2}&amp; {!Line_Break}&amp;
&apos;Q3. 현재 불량 히츠 갑을 소지 중 이시라면 팩 번호 확인이 가능 하실까요? : &apos;&amp;{!Q2_3_RB3}&amp; {!Line_Break}&amp;
&apos;팩번호 : &apos;&amp;{!Q2_3_T1}&amp; {!Line_Break}&amp;
&apos;Q4.다른 히츠 제품 군으로 변경하셨다면 혹시 변경하신 사유는 어떻게 되실까요? 동일한 문제로 이용이 어렵진 않으신가요? : &apos;&amp;{!Q2_3_RB4}&amp; {!Line_Break}&amp;
&apos;Q5.  히츠 스틱을 홀더에 삽입할 때 불편한 느낌, 문제가 있었나요? : &apos;&amp;{!Q2_3_RB5}&amp; {!Line_Break}&amp;
&apos;Q6. 그 외 히츠에 대한 불만족 스러운 부분이 있다면 말씀 부탁드립니다. : &apos;&amp;{!Q2_3_T2}&amp; {!Line_Break}&amp;
&apos;문의 유형 : &apos;&amp; {!Q2_3_PL1.topValue}&amp; {!Line_Break}&amp;
&apos;문의 상세 유형 : &apos;&amp;{!Q2_3_PL1.middleValue}</expression>
    </formulas>
    <formulas>
        <name>Q2_4_R1</name>
        <dataType>String</dataType>
        <expression>{!Q2_4_DT1}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q2_5_R1</name>
        <dataType>String</dataType>
        <expression>&apos;통화 가능 여부 확인: &apos;&amp;{!Q2_2_RB1}&amp; {!Line_Break}&amp;
{!Q1_2_T1_0}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>Q3_1_R1</name>
        <dataType>String</dataType>
        <expression>{!Q1_DT1}&amp; {!Line_Break}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!Line_Break}&amp;{!Line_Break}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!Line_Break}&amp;
&apos;Sentiment Management&apos;&amp;{!Line_Break}&amp;
&apos;첫인사 &amp; 고객 파악 : &apos; &amp;{!Q1_RB1}&amp;{!Line_Break}</expression>
    </formulas>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Sentiment Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case1</name>
        <label>Update Case1</label>
        <locationX>1304</locationX>
        <locationY>1790</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case1_0</name>
        <label>Update Case1</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case2</name>
        <label>Update Case2</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>1304</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <fields>
            <name>Q1_RB1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Heets</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>첫인사 &amp; 고객파악</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_DT1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;정보 불일치&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;잘못 연락 드려 죄송합니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;저는 IQOS고객 서비스센터&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;000이였습니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_2</name>
        <label>Q1_2</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_1_D1</targetReference>
        </connector>
        <fields>
            <name>Q1_2_RB1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 가능 여부 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_2_RB2</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>불편사항 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_2_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q1_2_T1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 14px;&quot;&gt;확인거부 / 통화 거부&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 14px;&quot;&gt;바쁘신데 연락 드려 죄송합니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 14px;&quot;&gt;저는 IQOS고객 서비스센터 000이였습니다&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_2_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_3</name>
        <label>Q1_3</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_3_A1</targetReference>
        </connector>
        <fields>
            <name>Q1_3_T1</name>
            <fieldText>불편 사항 취합</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q1_3_PL1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>KDCE_FlowIssueType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>KDCE_FlowIssueDetailType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>문의 유형</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>문의 상세유형</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>IssueType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>IssueDetailType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Q1_3_T2</name>
            <dataType>String</dataType>
            <fieldText>문의 유형 입력</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q1_4</name>
        <label>Q1_4</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_4_A1</targetReference>
        </connector>
        <fields>
            <name>Q1_4_DT1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;다행입니다. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;상담종료 이후 연결해드렸던&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;만족도 조사에서 저점을 주신것으로 확인됩니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;괜찮으시다면 어떤 부분이&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;해당 점수로 연결되었는지 말씀해 주실 수 있으실까요?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_4_T1</name>
            <fieldText>만족도 조사 저점 사유</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q1_4_DT2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;불편한점이 없으셨다니 다행입니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;바쁘실텐데 시간내어주셔서 감사합니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_2</name>
        <label>Q2_2</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q1_2_D1</targetReference>
        </connector>
        <fields>
            <name>Q2_2_RB1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 가능 여부 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_2_DT1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;좋은 품질로 아이코스를 사랑해주시는 만큼 보답 해드려야 하나 그렇지 못한 부분에 있어 먼저 사과 말씀 드리겠습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;제품 품질 개선을 위하여 고객님께 의견을 여쭙고 말씀해 주신 히츠에 대한 개선이 될 수 있도록 전달하려고 합니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;고객님께서 사용 중 이셨던 불량 히츠 관련 질문을 드려도 괜찮을까요?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_2_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_2_RB2</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>불편사항 확인</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_2_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q1_2_T1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;확인거부 / 통화 거부&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;바쁘신데 연락 드려 죄송합니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;맑은 고딕&amp;quot;; color: black;&quot;&gt;저는 IQOS고객 서비스센터 000이였습니다&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_2_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_3</name>
        <label>Q2_3</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_3_A1</targetReference>
        </connector>
        <fields>
            <name>Q2_3_RB1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q1. 지금도 동일한 히츠 제품군을 사용하고 있나요?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_3_RB2</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q2. 기존 히츠와 동일한 제품 군으로 새로 구매 하셨나요? 불량이라 말씀해 주신 히츠를 소지 중 이신가요?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_3_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_3_RB3</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q3. 현재 불량 히츠 갑을 소지 중 이시라면 팩 번호 확인이 가능 하실까요?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_3_RB2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_3_T1</name>
            <dataType>String</dataType>
            <fieldText>팩번호</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_3_RB3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Y</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_3_RB4</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q4.다른 히츠 제품 군으로 변경하셨다면 혹시 변경하신 사유는 어떻게 되실까요? 동일한 문제로 이용이 어렵진 않으신가요?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_3_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_3_RB5</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q5.  히츠 스틱을 홀더에 삽입할 때 불편한 느낌, 문제가 있었나요?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_3_T2</name>
            <fieldText>Q6. 그 외 히츠에 대한 불만족 스러운 부분이 있다면 말씀 부탁드립니다.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2_3_PL1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>KDCE_FlowIssueType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>KDCE_FlowIssueDetailType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>문의 유형</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>문의 상세유형</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>IssueType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>IssueDetailType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_4</name>
        <label>Q2_4</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2_4_A1</targetReference>
        </connector>
        <fields>
            <name>Q2_4_DT1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;불편한점이 없으셨다니 다행입니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;맑은 고딕&amp;quot;; font-size: 16px;&quot;&gt;바쁘실텐데 시간내어주셔서 감사합니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2_5</name>
        <label>서베이 연결</label>
        <locationX>1304</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_Inquiry_Result_Footer</targetReference>
        </connector>
        <fields>
            <name>Q2_5_DT1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;고객님, 통화 종료 후 간편하게 참여하실 수 있는 고객 만족도 조사 문자를 보내 드리려고 합니다. 서비스 개선 및 품질 향상을 위해 발송될 예정이오니 참여 부탁 드립니다.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IssueDetailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IssueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
