force-app/main/default/flows/Rental_27.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assgin0</name>
        <label>통화 성공 여부</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deci0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign1</name>
        <label>통화 결과 및 유형</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deci</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign2</name>
        <label>결제 방법</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign3</name>
        <label>회수 재접수</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C2_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign4</name>
        <label>보류 사유</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C3_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result_0</name>
        <label>Set Inquiry Result</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N</name>
        <choiceText>거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>거부</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C1</name>
        <choiceText>결제</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>결제​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C1_C2</name>
        <choiceText>패널티</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>패널티</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C2</name>
        <choiceText>회수</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>회수</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C3</name>
        <choiceText>보류</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>보류​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_RB2_C1</name>
        <choiceText>중고가</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>중고가​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>성공</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>성공​</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Deci</name>
        <label>유형</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deci1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign2</targetReference>
            </connector>
            <label>결제</label>
        </rules>
        <rules>
            <name>Deci2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>회수</label>
        </rules>
        <rules>
            <name>Deci3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign4</targetReference>
            </connector>
            <label>보류</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deci0</name>
        <label>통화 성공 여부</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Q2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deci_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inquiry_Result_0</targetReference>
            </connector>
            <label>실패</label>
        </rules>
        <rules>
            <name>Deci_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>성공</label>
        </rules>
    </decisions>
    <formulas>
        <name>C1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;결제 방법 : &quot;&amp;{!Q2_RB_2}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>C2_Result_Resource</name>
        <dataType>String</dataType>
        <expression>{!C2_Text}</expression>
    </formulas>
    <formulas>
        <name>C3_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;보류 사유 : &quot;&amp;{!Reason_Text}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>InquiryFooter</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;통화 시도 : &quot;&amp;{!Q1_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;유형 : &quot;&amp;{!Q2_RB_1}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!LineBreak}&amp;{!LineBreak}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!LineBreak}&amp;
&quot;Rental + 27&quot;&amp;{!LineBreak}</expression>
    </formulas>
    <interviewLabel>Rental + 27 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rental + 27</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>446</locationX>
        <locationY>1910</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>통화 성공?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assgin0</targetReference>
        </connector>
        <fields>
            <name>Q1_RB</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 성공 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2</name>
        <label>유형</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign1</targetReference>
        </connector>
        <fields>
            <name>Q2_RB_1</name>
            <choiceReferences>Q2_C1</choiceReferences>
            <choiceReferences>Q2_C2</choiceReferences>
            <choiceReferences>Q2_C3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>유형</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_RB_2</name>
            <choiceReferences>Q2_RB2_C1</choiceReferences>
            <choiceReferences>Q2_C1_C2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>결제 방법</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_C1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>C2_Text</name>
            <fieldText>&lt;p&gt;회수 재 접수&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_C2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_Text</name>
            <dataType>String</dataType>
            <fieldText>보류 사유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_C3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>회수 재 접수</description>
        <name>Q3</name>
        <label>회수 재 접수</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign3</targetReference>
        </connector>
        <fields>
            <name>Q3_DT</name>
            <fieldText>&lt;p&gt;회수 재 접수&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
