force-app/main/default/flows/Rental_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BeforeRentalInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_2</name>
        <label>Assign 2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Reject_Reason_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Footer</name>
        <label>Assign Footer</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inquiry_Result</name>
        <label>Set Inquiry Result</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_Deci</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C1</name>
        <choiceText>CC(타사)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC(타사)</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2</name>
        <choiceText>CC(자사)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC(자사)</stringValue>
        </value>
    </choices>
    <choices>
        <name>C3</name>
        <choiceText>IQOS 듀얼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IQOS 듀얼</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4</name>
        <choiceText>타사 HnB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>타사 HnB​</stringValue>
        </value>
    </choices>
    <choices>
        <name>C5</name>
        <choiceText>IQOS only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IQOS only</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>거부</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>성공</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>성공</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_Deci</name>
        <label>통화 시도 결과</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>성공</label>
        </rules>
        <rules>
            <name>Q1_N</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_2</targetReference>
            </connector>
            <label>거부</label>
        </rules>
    </decisions>
    <formulas>
        <name>BeforeRentalInfo</name>
        <dataType>String</dataType>
        <expression>&quot;대여 전 사용 제품 : &quot;&amp;{!Q2_RB}&amp;{!LineBreak}&amp;
&quot;브랜드명 : &quot;&amp;{!BrandName}&amp;{!LineBreak}&amp;
&quot;대여 신청 사유 : &quot;&amp;{!RentalReason_LongText}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>InquiryFooter</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;통화 시도 : &quot;&amp;{!Q1_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Reject_Reason_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;거부 사유 : &quot;&amp;{!RejectReason}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!LineBreak}&amp;{!LineBreak}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!LineBreak}&amp;
&quot;Rental + 1&quot;&amp;{!LineBreak}</expression>
    </formulas>
    <interviewLabel>Rental + 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rental + 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>통화 성공?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inquiry_Result</targetReference>
        </connector>
        <fields>
            <name>Q1_RB</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 성공 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RejectReason</name>
            <dataType>String</dataType>
            <fieldText>거부사유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q1_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>N</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2</name>
        <label>대여 전 제품 조사</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Q2_RB</name>
            <choiceReferences>C1</choiceReferences>
            <choiceReferences>C2</choiceReferences>
            <choiceReferences>C3</choiceReferences>
            <choiceReferences>C4</choiceReferences>
            <choiceReferences>C5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>사용 제품</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BrandName</name>
            <dataType>String</dataType>
            <fieldText>브랜드명</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3</name>
        <label>대여 신청 사유</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_1</targetReference>
        </connector>
        <fields>
            <name>RentalReason_LongText</name>
            <fieldText>대여 신청 사유</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
