force-app/main/default/flows/Rental_13.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>기기 정보와 컨버젼</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign0</name>
        <label>통화 시도 Assign</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TodayHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q1_C1_D</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign1</name>
        <label>유형 Assign</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q2_Deci</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0</name>
        <label>쿠폰번호 연령대 컨버젼</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C2_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0_0</name>
        <label>회수 사유와 구성품 누락 여부</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C3_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0_0_1</name>
        <label>보류 연장 사유</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_1_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0_0_2</name>
        <label>보류사유 작성</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_2_Result_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Result_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inquiry_Result_Assign</name>
        <label>Inquiry Result Assign</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inquiry_Result_Assign_0</name>
        <label>Inquiry Result Assign</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InquiryResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryFooter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.KDCE_InquiryResult__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InquiryResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N</name>
        <choiceText>거부</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>거부</stringValue>
        </value>
    </choices>
    <choices>
        <name>O</name>
        <choiceText>O</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>O</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C1</name>
        <choiceText>결제</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>결제​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C2</name>
        <choiceText>결제_쿠폰O</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>결제_쿠폰O​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C3</name>
        <choiceText>회수</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>회수​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C4</name>
        <choiceText>보류(일주일 연장)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>보류(일주일 연장)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C5</name>
        <choiceText>보류(재연락 예정)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>보류(재연락 예정)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C1</name>
        <choiceText>색상 변경</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>색상 변경​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C2</name>
        <choiceText>모델 변경</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>모델 변경​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C3</name>
        <choiceText>새 상품 갖고 싶어서</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>새 상품 갖고 싶어서​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C4</name>
        <choiceText>중고가격이 그다지 저렴하지 않아서</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>중고가격이 그다지 저렴하지 않아서​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C5</name>
        <choiceText>다른 채널 구매</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>다른 채널 구매​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C6</name>
        <choiceText>기기 불만족</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>기기 불만족​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C7</name>
        <choiceText>히츠 불만족</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>히츠 불만족​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_0_0_C8</name>
        <choiceText>이미 회수됨</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>이미 회수됨​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_2_C1</name>
        <choiceText>그레이</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>그레이</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_2_C2</name>
        <choiceText>골드</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>골드​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_2_C3</name>
        <choiceText>블루</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>블루​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_2_C4</name>
        <choiceText>화이트</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>화이트</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C1</name>
        <choiceText>멀티</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>멀티</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C2</name>
        <choiceText>듀오</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>듀오​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C1</name>
        <choiceText>아이코스만 사용</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>아이코스만 사용​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C2</name>
        <choiceText>아이코스 더 많이 사용</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>아이코스 더 많이 사용​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C3</name>
        <choiceText>아이코스 더 적게 사용</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>아이코스 더 적게 사용​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C4</name>
        <choiceText>아이코스 거의 사용하지 않음</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>아이코스 거의 사용하지 않음​</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C5</name>
        <choiceText>반반으로 비슷함</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>반반으로 비슷함​</stringValue>
        </value>
    </choices>
    <choices>
        <name>X</name>
        <choiceText>X</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>X</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>성공</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>성공</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Q1_C1_D</name>
        <label>통화 성공 여부</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Q2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inquiry_Result_Assign_0</targetReference>
            </connector>
            <label>통화 실패</label>
        </rules>
        <rules>
            <name>Q1_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>통화 성공</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q2_Deci</name>
        <label>유형별 결과</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Inquiry_Result_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q2_C1_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>결제</label>
        </rules>
        <rules>
            <name>Q2_C2_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_0</targetReference>
            </connector>
            <label>결제_쿠폰O</label>
        </rules>
        <rules>
            <name>Q2_C3_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_0_0</targetReference>
            </connector>
            <label>회수</label>
        </rules>
        <rules>
            <name>Q2_C4_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_0_0_1</targetReference>
            </connector>
            <label>보류(일주일 연장)</label>
        </rules>
        <rules>
            <name>Q2_C5_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_C5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_0_0_2</targetReference>
            </connector>
            <label>보류(재연락 예정)</label>
        </rules>
    </decisions>
    <formulas>
        <name>C1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;기기 종류 : &quot;&amp;{!Q3_RB_1}&amp;{!LineBreak}&amp;
&quot;기기 색상 : &quot;&amp;{!Q3_RB_2}&amp;{!LineBreak}&amp;
&quot;컨버젼 : &quot;&amp;{!Q4_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>C2_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;쿠폰 번호 : &quot;&amp;{!Q3_CN_Text}&amp;{!LineBreak}&amp;
&quot;연령대 : &quot;&amp;{!Q3_Age_Text}&amp;{!LineBreak}&amp;
&quot;컨버젼 : &quot;&amp;{!Q4_RB_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>C3_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;회수 사유 : &quot;&amp;{!Q3_RB_0_0}&amp;{!LineBreak}&amp;
&quot;구성품 누락 : &quot;&amp;{!Q4_RB_0_0}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>InquiryFooter</name>
        <dataType>String</dataType>
        <expression>&quot;-------------------------------------------&quot;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Q1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;통화 시도 : &quot;&amp;{!Q1_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_1_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;보류 연장 사유 : &quot;&amp;{!Q2_T1}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_2_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;보류사유 작성 : &quot;&amp;{!Q2_T2}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>Q2_Result_Resource</name>
        <dataType>String</dataType>
        <expression>&quot;유형 : &quot;&amp;{!Q2_RB}&amp;{!LineBreak}</expression>
    </formulas>
    <formulas>
        <name>TodayHeader</name>
        <dataType>String</dataType>
        <expression>{!LineBreak}&amp;{!LineBreak}&amp;&quot;-------------&quot;&amp;TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),DAY(TODAY())))&amp;&quot;-------------&quot;&amp;{!LineBreak}&amp;
&quot;Rental + 13&quot;&amp;{!LineBreak}</expression>
    </formulas>
    <interviewLabel>Rental + 13 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rental + 13</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>통화 성공?</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign0</targetReference>
        </connector>
        <fields>
            <name>Q1_RB</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>통화 성공 여부</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2</name>
        <label>유형</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign1</targetReference>
        </connector>
        <fields>
            <name>Q2_RB</name>
            <choiceReferences>Q2_C1</choiceReferences>
            <choiceReferences>Q2_C2</choiceReferences>
            <choiceReferences>Q2_C3</choiceReferences>
            <choiceReferences>Q2_C4</choiceReferences>
            <choiceReferences>Q2_C5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>유형</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_T1</name>
            <dataType>String</dataType>
            <fieldText>보류 연장 사유</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_C4</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2_T2</name>
            <dataType>String</dataType>
            <fieldText>보류사유 작성</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q2_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Q2_C5</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3</name>
        <label>기기 정보</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Q3_RB_1</name>
            <choiceReferences>Q3_C1</choiceReferences>
            <choiceReferences>Q3_C2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>기기 종류</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3_RB_2</name>
            <choiceReferences>Q3_2_C1</choiceReferences>
            <choiceReferences>Q3_2_C2</choiceReferences>
            <choiceReferences>Q3_2_C3</choiceReferences>
            <choiceReferences>Q3_2_C4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>기기 색상</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3_0</name>
        <label>쿠폰번호 및 연령대</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4_0</targetReference>
        </connector>
        <fields>
            <name>Q3_CN_Text</name>
            <dataType>String</dataType>
            <fieldText>쿠폰번호</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3_Age_Text</name>
            <dataType>String</dataType>
            <fieldText>연령대</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3_0_0</name>
        <label>회수 사유</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4_0_0</targetReference>
        </connector>
        <fields>
            <name>Q3_RB_0_0</name>
            <choiceReferences>Q3_0_0_C1</choiceReferences>
            <choiceReferences>Q3_0_0_C2</choiceReferences>
            <choiceReferences>Q3_0_0_C3</choiceReferences>
            <choiceReferences>Q3_0_0_C4</choiceReferences>
            <choiceReferences>Q3_0_0_C5</choiceReferences>
            <choiceReferences>Q3_0_0_C6</choiceReferences>
            <choiceReferences>Q3_0_0_C7</choiceReferences>
            <choiceReferences>Q3_0_0_C8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>회수 사유</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4</name>
        <label>컨버젼</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <fields>
            <name>Q4_RB</name>
            <choiceReferences>Q4_C1</choiceReferences>
            <choiceReferences>Q4_C2</choiceReferences>
            <choiceReferences>Q4_C3</choiceReferences>
            <choiceReferences>Q4_C4</choiceReferences>
            <choiceReferences>Q4_C5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>컨버젼</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4_0</name>
        <label>컨버젼</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_0</targetReference>
        </connector>
        <fields>
            <name>Q4_RB_0</name>
            <choiceReferences>Q4_C1</choiceReferences>
            <choiceReferences>Q4_C2</choiceReferences>
            <choiceReferences>Q4_C3</choiceReferences>
            <choiceReferences>Q4_C4</choiceReferences>
            <choiceReferences>Q4_C5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>컨버젼</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4_0_0</name>
        <label>구성품 누락 여부</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_0_0</targetReference>
        </connector>
        <fields>
            <name>Q4_RB_0_0</name>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <dataType>String</dataType>
            <fieldText>구성품 누락</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InquiryResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
